[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
falcon = "*"
gunicorn = "*"
msgpack-python = "*"

[dev-packages]
httpie = "*"
pytest = "*"

[requires]
python_version = "3.6"
