.nav {
  display: flex;
}

.nav a {
  flex: 1;
  padding: 0 5px;
}

.nav a:nth-of-type(1n+2) {
  margin-left: 10px;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
}

.boxes > div {
  flex: 1 1 250px;
  padding: 10px;
  background-color: #e7e7e7;
  border-radius: 5px;
  display: flex;
  flex-flow: column nowrap;
  margin: 10px;
}

.boxes .more {
  margin-top: auto;
}

.footer {
  display: flex;
  flex-flow: row wrap;
}

.footer .copyright {
  flex: 2 1 585px;
  margin-right: 10px;
}

.footer .signup {
  flex: 1 1 292.5px;
}

.footer form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.footer form label {
  width: 100%;
}

.footer form input[type="email"] {
  border-radius: 5px 0 0 5px;
}

.footer form input[type="submit"] {
  border-radius: 0 5px 5px 0;
}

@media (max-width: 366px) {
  .footer form input[type="email"] {
    border-radius: 5px;
    width: 100%;
  }

  .footer form input[type="submit"] {
    border-radius: 5px;
    margin-top: 10px;
  }
}
